.main{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10rem 4rem;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 240, 240);
    margin-top: 5rem;
    border-radius: 1rem;
    overflow: hidden;

}
.header{
    text-align: center;
    font-size: 6rem;
    background-image: linear-gradient(to right,rgb(18, 149, 236), rgb(5, 107, 19));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_bar{
    margin: 0 0 3rem 0;
    outline: none;
    border: none;
    border-bottom: .5rem solid rgb(235, 75, 12);
    padding: 2rem 3rem;
    font-size: 2rem;
    width: 100%;
    transition: all .6s;
    background-color: rgb(241, 240, 240);

}
.search_bar:focus{
    border-bottom: .5rem solid green;
    transform: scaleY(1.5);
    font-weight: 600;

}
.emoji_box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem,8rem));
    width: 100rem;
    height: 80rem;
    overflow-y: scroll;
    padding: 2rem;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
}
.emojis{
    background-color: rgba(250, 249, 249, 0);
    border: 1px solid rgb(184, 183, 183);
    width: 100rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 4rem;
    font-size: 3rem;
    letter-spacing: 1rem;
    line-height: 6rem;
    text-align: left;
    outline: none;
}
::-webkit-scrollbar {
    width: 0px;
  }

.emoji{
    /* width: rem; */
    font-size: 5rem;
    cursor: pointer;
    padding: .5rem;
    transition: all .3s;
    text-align: center;
    align-self: flex-start;

}
.emoji:hover{
    /* background-color: rgb(187, 183, 183); */
    border-radius: .3rem;
    transform: scale(1.5);
}

@media only screen and (max-width:1100px) {
    .box{
        width: 100%;
    }
    .emoji_box{
        width: 100%;
    }
    .search{
        width: 100%;
    }
    .emojis{
        width: 95%;
    }
}
@media only screen and (max-width:450px) { 
    .header{
    font-size: 5rem;
    }
    

}